@font-face {
    font-family: "San-Francisco";
    src: url("../fonts/San-Francisco/SFProText-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "San-Francisco";
    src: url("../fonts/San-Francisco/SFProText-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "San-Francisco";
    src: url("../fonts/San-Francisco/SFProText-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Majestic";
    src: url("../fonts/Majestic/Majestic.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Angelica";
    src: url("../fonts/Angelica/Angelica.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}