@media screen and (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
  .taro-desc {
    width: 610px;
  }
}

@media screen and (max-width: 768px) {
  .taro-desc {
    width: 100%;
  }
}

@media screen and (max-width: 625px) {
  .container {
    overflow: hidden;
  }
  .card-wrapper {
    position: absolute;
    width: 200px;
    height: 336px;
  }
  .taro-img {
    height: 334px;
  }
  .taro {
    width: 100%;
  }
  .taro-desc {
    margin: -30px 0 0 0;
    padding: 50px 15px 15px;
  }
  .card-name {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 325px) {
  h1 {
    font-size: 40px;
  }
}

